.App {
  max-width: 500px;
  margin: 0 auto;
}

.container {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border: 1px solid #3e5f91;
  border-radius: 15px;
  color: #445461;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 50px auto;
  padding: 30px 20px 30px 20px;
}

.Search {
  display: block;
  margin: 0 30px 0 30px;
}

.Weather h1 {
  font-size: 50px;
  margin-top: 15px;
  padding: 0 0 0 30px;
}

.Weather h2 {
  font-size: 25px;
  padding: 0 0 0 30px;
}

.Weather h3 {
  font-size: 70px;
}

.Weather ul {
  list-style-type: none;
  padding: 0 0 0 30px;
  text-align: left;
}

.Footer {
  margin: 25px 20px 10px 20px;
  text-align: center;
}

.Week {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  opacity: 0.8;
}

.temperature {
  font-size: 20px;
}

#description {
  text-transform: capitalize;
}

#unit {
  font-size: 25px;
  margin-left: 10px;
  text-decoration: none;
}
