.container {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border: 1px solid #3e5f91;
  border-radius: 15px;
  color: #445461;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 60px auto;
  max-width: 650px;
  padding: 40px 40px 30px 40px;
}

.Search {
  display: block;
  margin: 0 auto;
}
.Weather h1 {
  font-size: 50px;
  margin-top: 15px;
}

.Weather h2 {
  font-size: 25px;
}

.Weather h3 {
  font-size: 70px;
}

.Weather li {
  list-style-type: none;
  text-align: right;
}

.Footer {
  text-align: center;
}
